<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-center">
                </ul>
            </nav>
            <h3 class="text-muted">ShpeMyFuture</h3>
        </div>
 
        <div class="jumbotron">
            <h2>Find The Perfect Location For Your Buisness</h2>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" role="button" href = "{{ url_for('choose') }}"> Get Started </a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Explore</h4>
                <p>Providing you with access to the best markets</p>
 
                <h4>Access</h4>
                <p>Catering to your needs as an entrepreneur</p>
 
                <h4>Ease</h4>
                <p>Comprehensive and software to get you started quickly</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Tom Cruz Ana Verra Jose Angeles Andrew Perkins 2016</p>
        </footer>
    </div>
</body>
 
</html>
